{% extends "base_dashboard.html" %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Аналитика</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Аналитика</li>
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Стоимость квартиры
    </div>
    <div class="card-body">

      {{price | safe}}
    </div>
  </div>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .fit {
      /* set relative picture size */
      max-width: 50%;
      max-height: 50%;
    }

    .center {
      display: block;
      margin: auto;
    }
  </style>
  <!--<div class="card mb-4">-->
    <img class="center fit" src="{{ url_for('static', filename='pictures/correlation_heatmap.jpg') }}">
    <img class="center fit" src="{{ url_for('static', filename='pictures/histogram_totalm2.jpg') }}">
    <img class="center fit" src="{{ url_for('static', filename='pictures/histograms_districts.jpg') }}">
  <!--</div>-->
</div>
{% endblock %}