{% extends "base_dashboard.html" %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Survey</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Survey</li>
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Your address
    </div>
    {{ wtf.quick_form(form) }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css"
      rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

    <script>
      $("#address").suggestions({
        token: "d61f4014a0ee44720df64e60a6294155e905116c",
        type: "ADDRESS",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
          console.log(suggestion);
        }
      });
    </script>
    
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Data by address
    </div>
    <div class="card-body">
      {{address_data | safe}}
    </div>
  </div>
</div>

{% endblock %}